<html>
    <table>
    <tr>
        <td>User  Name</td>
        <td>
            <input [(ngModel)]="CustomerModel.Name" type="text">
        </td>
    </tr>
    <tr>
        <td>User ID</td>
        <td>
            <input [(ngModel)]="CustomerModel.id" type="text">
        </td>
    </tr>
    <tr>
        <td>User Password</td>
        <td>
            <input [(ngModel)]="CustomerModel.Password" type="text">
        </td>
    </tr>
    <input type="submit" (click)="AddCustomer()">
    
    
</table>

<a href="product.html">
    <button>Login </button>
    </a>
    <a href="register.html">
        <button>Register </button>
        </a>
<!-- {{CustomerModel.CustomerAmount}}
{{CustomerModel.CustomerName}}
{{CustomerModel.CustomerCode}} -->


</html>